class {
  onCreate() {
    this.state = {
    }
  }
}

style {
  html {
    width: 100%;
    height: 100%;
  }
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .App {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 5vw;
  }
}

div.App
  Tokenr